.disclaimer1 {
    display: none;
    background-color: yellow;
    padding: 10px;
  }

  .disclaimer2 {
    display: none;
    background-color: yellow;
    padding: 10px;
  }

  .disclaimer3 {
    display: none;
    background-color: yellow;
    padding: 10px;
  }